#ceo{
    height: 400px;
    width: 400px;
}
#specialist{
    height: 400px;
    width: 400px;
}
.about-us{
    
    background-color:bisque;
    font-display: auto;
}
#veterinarian{
    height: 400px;
    width: 400px;
}
.team-member{
    padding-top: 3%;
}
.join{
    padding-top: 3%;
}
.impact{
    padding-top: 3%;
}
#team{
    padding-top: 3%;
}