body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-bar {
  width: 100%;
  background-color: seashell;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.nav-bar ul {
  display: flex;
}

.nav-bar li {
  list-style: none;
  padding-left: 50px;
}

.nav-bar a {
  color: black;
  text-decoration: none;
}

.nav-bar a:hover {
  font-size: large;
}

.nav-bar a:active {
  font-size: medium;
}
