body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: gray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-bar {
  width: 100%;
  background-color: #E9F1F7;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.nav-bar img {
  height: 30px;
}

.nav-bar a {
  color: black;
  text-decoration: none;
  margin-left: 20px;
  transition: 0.5s;
}

.nav-bar a:hover{
  background-color: antiquewhite;
}

.nav-bar a:active {
  background-color: rgb(154, 145, 133);
}

.img-container img {
  height: 350px;
  width: 100%;
}

.line {
  border: 3px solid #623CEA;
}

.search-container h2{
  color: #54426B;
}

.search-container input {
  margin: 20px;
}

.adopt-links {
  display: flex;
  
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;

  margin-top: 50px;
}

.adopt-links .animal-img:hover {
  background-color: #54426B;
  transition: 0.2s;
}

.adopt-links img {
  height: 150px;
}

#cat {
  width: 160px;
}

.my-header {
  margin-top: 50px;
}

.getting-started {
  display: flex;
  justify-content: center;
  align-items: center;
}

.getting-started form {
  margin-top: 50px;
}

.my-btn {
  margin-left: 30px;
}

.options {
  width: 300px;
}

.getting-started button {
  margin-top: 30px;
  margin-right: 30px;
}